body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: whitesmoke;
    color: darkblue;
}


nav {
    background-color: darkblue;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 15px;
    margin: 0;
}

nav ul li {
    margin-right: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: orange;
}

main {
    padding: 30px;
}

h1 {
    color: orange;
}

p {
    line-height: 1.6;
}


button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: orange;
}

input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid silver;
    border-radius: 4px;
}

footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 200px;
}