{% extends 'monapp/base.html' %}
{% block title %} Section - Contact{% endblock %}
{% load static %}
{% block content %}
<h1>Contactez-nous</h1>

<form>
    <label>Nom :</label><br>
    <input type="text" autofocus required><br><br>

    <label>Prénom :</label><br>
    <input type="text" required><br><br>

    <label>Email :</label><br>
    <input type="email" required><br><br>

    <label>Message :</label><br>
    <textarea></textarea><br><br>

    <button type="submit">Envoyer</button>
</form>

<p>Email : django@gmail.com</p>
<p>Téléphone : +221 76 334 45 77</p>
{% endblock %}